In [1]:
import pandas as pd
import numpy as np
from nltk.tokenize import RegexpTokenizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [5]:
rank = pd.read_csv('../Data/questions.csv')
rank.head()

,questions_id,questions_author_id,questions_date_added,questions_title,questions_body
0,332a511f1569444485cf7a7a556a5e54,8f6f374ffd834d258ab69d376dd998f5,2016-04-26 11:14:26 UTC+0000,Teacher career question,What is a maths teacher? what is a ma...
1,eb80205482e4424cad8f16bc25aa2d9c,acccbda28edd4362ab03fb8b6fd2d67b,2016-05-20 16:48:25 UTC+0000,I want to become an army officer. What can I d...,I am Priyanka from Bangalore . Now am in 10th ...
2,4ec31632938a40b98909416bdd0decff,f2c179a563024ccc927399ce529094b5,2017-02-08 19:13:38 UTC+0000,Will going abroad for your first job increase ...,I'm planning on going abroad for my first job....
3,2f6a9a99d9b24e5baa50d40d0ba50a75,2c30ffba444e40eabb4583b55233a5a4,2017-09-01 14:05:32 UTC+0000,To become a specialist in business management...,i hear business management is a hard way to ge...
4,5af8880460c141dbb02971a1a8369529,aa9eb1a2ab184ebbb00dc01ab663428a,2017-09-01 02:36:54 UTC+0000,Are there any scholarships out there for stude...,I'm trying to find scholarships for first year...

In [6]:
counts = {}
stop_words = set(stopwords.words('english')) 
for line in np.arange(0, len(rank['questions_title'])):
    tokenizer = RegexpTokenizer(r'\w+')
    results = tokenizer.tokenize(rank.iloc[line]['questions_title'])
    #results = word_tokenize(rank.iloc[line]['questions_title'])
    for word in results:
        if word not in stop_words:
            if word in counts:
                counts[word.lower()] += 1
            else:
                counts[word.lower()] = 1
    tokenizer = RegexpTokenizer(r'\w+')
    results = tokenizer.tokenize(rank.iloc[line]['questions_body'])
    #results = word_tokenize(rank.iloc[line]['questions_body'])
    for word in results:
        if word not in stop_words:
            if word in counts:
                counts[word.lower()] += 1
            else:
                counts[word.lower()] = 1

In [7]:
counts = sorted(counts.items(), key=lambda item: item[1])

In [8]:
print(len(counts))

18496

In [9]:
indexed = {'<NULL>': 0 , '<TITLE>': 1, '<BODY>': 2, '<NOTFOUND>': 3}
ind = 4
for key, value in counts:
    indexed[key] = ind
    ind += 1

In [10]:
indexed = pd.DataFrame.from_dict(indexed, orient = 'index')

In [11]:
indexed.to_csv('../Data/word_index.csv', header=False)